<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>security.Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert_costumer</servlet-name>
        <servlet-class>security.Insert_costumer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_Rooms</servlet-name>
        <servlet-class>Servlet.Process_Rooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>Mail.FeedBackMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/verify.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert_costumer</servlet-name>
        <url-pattern>/Update.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_Rooms</servlet-name>
        <url-pattern>/Process_Rooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>User pages</web-resource-name>
            <url-pattern>/rooms.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                user
            </role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>user</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error_login.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>ctimetimecoder@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Hardik@123</param-value>
    </context-param>
</web-app>
